:root {
  --primary: #009ccc;
}
.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: var(--primary);
  color: white;
}
.btn:hover {
  padding: 8px 20px;
  border-radius: 4px;
  color: white;
  background-color: black;
  //   background-color: var(--primary);
}
