.navbar-items {
  background: linear-gradient(
    90deg,
    rgba(5, 0, 98, 1) 0%,
    rgba(74, 74, 208, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  list-style: none;
}
.navbar-logo {
  width: 70px;
}
.menu-icon {
  color: white;
  font-size: 20px;
}
.nav-links {
  display: grid;
  grid-template-columns: (5, auto);
  list-style: none;
  text-decoration: none;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
  width: 70vw;
}
.nav-links {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
}
.nav-links:hover {
  background-color: rgb(28, 183, 230);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

// wait

.menu-icon {
  display: none;
}
.nav-links-mobile {
  display: none;
}

/*  media query  */

@media screen and (max-width: 960px) {
  .navbar-items {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%; //it is changed
    height: 500px;
    position: absolute;
    top: 80px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    left: -100%; //hidden
  }
  .nav-menu.active {
    background: linear-gradient(
      90deg,
      rgba(5, 0, 98, 1) 0%,
      rgba(74, 74, 208, 1) 48%,
      rgba(0, 212, 255, 1) 100%
    );
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 70%);
    font: size 1.8rem;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 15%);
  }
  .nav-links {
    text-align: center;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #7577fa;
    transition: all 0.5s ease-in-out;
  }
  Button {
    display: none;
  }
  .nav-links-mobile {
    display: block;
    padding: 8px 20px;
    background: #009ccc;
    text-decoration: none;
    margin: 0 30px;
    color: white;
    border-radius: 4px;
  }
  .nav-links-mobile:hover {
    background: black;
    color: white;
  }
}
